DATABASE_URL="postgres://ccbf3112132604a7cdb0921e72e201848682ca33d6a7d7b7a82308173ec86ae5:sk_fdtZ0QOmqkWiOdrXTD3GQ@db.prisma.io:5432/postgres?sslmode=require"


# prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19mZHRaMFFPbXFrV2lPZHJYVEQzR1EiLCJhcGlfa2V5IjoiMDFLTTM2WlI2RlFYM1NETTA1Q0dOOENXNjgiLCJ0ZW5hbnRfaWQiOiJjY2JmMzExMjEzMjYwNGE3Y2RiMDkyMWU3MmUyMDE4NDg2ODJjYTMzZDZhN2Q3YjdhODIzMDgxNzNlYzg2YWU1IiwiaW50ZXJuYWxfc2VjcmV0IjoiYWU1YWRiYWUtYjI5Yy00NjMyLWEzMmItZjQxNmUxZGJmNTY1In0.Cid-la5tkTLJiOXwRTTWIPOzVf4R9kIGjZAtf9szgo0